:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
  line-height: 1.3;
}

h3 {
  font-size: 1.75em;
  line-height: 1.4;
}

p {
  font-size: 1em;
  margin: 0.5em 0;
}

a {
  font-weight: 500;
  color: #ffba08; /* Soft orange */
  text-decoration: none;
}
a:hover {
  color: #e0a800; /* Darker shade on hover */
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #ffba08; /* Soft orange */
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #e0a800; /* Darker shade on hover */
}